.header {
  display: flex;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  margin-bottom: -100px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}  
.header ul {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 40px;
  row-gap: 8px;
  align-items: end;
}
.header ul li {
  margin-left: 0px;
  letter-spacing: 1px;
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
}
.navbar-connect {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}
.navbar-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}
@media only screen and (min-width: 500px) {
  .header {
    padding: 20px 0px;
  }
  .header ul {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }
  .header ul li {
    color: #eae5ec;
  }
  .navbar-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 900px) {
  .navbar-connect {
    display: block;
  }
  .header ul {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 35px 0px;
    margin-bottom: 0;
  }
  /* place nav links in the upper-right */
  .header ul {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: row;
    column-gap: 80px;
    font-size: 16px;
    align-items: center;
  }
  /* show email and center it at the top middle */
  .navbar-connect {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
  .navbar-title {
    font-size: 18px;
  }
}
